//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: 'Poppins';
$bebas: 'Bebas Neue';

//variables de color
$cyan-green: #7EDAD2;
$black: #424241;
$white: #FAFAFA;
$silver: #909090;