.header-principal{
    padding-top: 33px;
    position: relative;
    margin-bottom: 80px;
    .image-hero-desktop{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-header{
            text-decoration: none;
            font-size: 36px;
            font-weight: 600;
            color: $black;
        }
        .header-menu{
            ul{
                display: flex;
                gap: 56px;
                a{
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: normal;
                    color: $black;
                }
            }
        }
    }
}