@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

.header-principal{
    padding-top: 27px;
    margin-bottom: 80px;
    @include abs.breakpoint(desktopxxl){
        padding-top: 33px;
        margin-bottom: 113px;
    }
    .container-header-principal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-web{
            text-decoration: none;
            font-size: 33px;
            color: abs.$black;
            font-weight: 600;
            @include abs.breakpoint(desktopxxl){
                font-size: 36px;
            }
        }
        .menu-header{
            ul{
                display: flex;
                gap: 50px;
                a{
                    text-decoration: none;
                    color: abs.$black;
                    font-size: 15px;
                    @include abs.breakpoint(desktopxxl){
                        font-size: 18px;
                    }
                }
            }
        }
    }
}