@use '../abstracts/abstracts' as abs;

html * {
    font-family: abs.$poppins;
}
 
body {
    background-color: abs.$white;
    overflow-x: hidden;
    background-image: url(/img/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
}